PORT=3000
DATABASE_URL="postgresql://shop:shop_dev_pw@localhost:5432/shop"

JWT_ACCESS_SECRET=78641ee949ae747cf2f56a2d286b747d33d3761364d8de746316e1b3f2b51115d9e1ed4dc4f1b4f36cdb35f5fb59b6f2
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_TTL_DAYS=7
COOKIE_SECURE=false

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=987654321
ADMIN_FULL_NAME=Admin